/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 35px 0 35px 0;
    display: none;
}

/* header */
header {
    background-color: #FFFFFF;
    height: 75px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.header__logo img:nth-child(1) {
    max-width: 83px;
    width: 100%;
}

.header__logo img:nth-child(3) {
    max-width: 76px;
    width: 100%;
}

.header__line-vertical {
    height: 50px;
    border: 1px solid #003B5B;
    margin: 0 5px 0 15px;
}

.header__sigin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 58px;
}

.header__sigin a {
    text-decoration: none;
    color: #003B5B;
    padding-left: 10px;
}

/* main content */
main {
    overflow: hidden;
}

.main__container {
    position: relative;
}

.main__ellipse-one,
.main__ellipse-two,
.main__ellipse-three {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.main__ellipse-one {
    background-color: #DA2A1B;
    top: -202px;
    right: 589px;
}

.main__ellipse-two {
    background-color: #003B5B;
    right: -115px;
    top: 70px;
}

.main__ellipse-three {
    background-color: #DA2A1B;
    left: -132px;
    bottom: -121px;
}

.main__blog-one {
    width: 100%;
    display: flex;
    margin-bottom: 28px;
}

.blog-one__item-one {
    width: 60%;
    padding-top: 100px;
    padding-left: 148px;
}

.blog-one__item-two {
    width: 40%;
}

.blog-one__item-two img {
    max-width: 623px;
    float: right;
    width: 100%;
    /* margin-right: -34px;
    margin-top: -281px; */
}

.rectangle {
    float: right;
    width: 344px;
    height: 32px;
    background-color: #C4C4C4;
}

.blog-one__item-one h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    color: #000000;
}

.blog-one__item-one h1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #DA2A1B;
    font-size: 48px;
    margin: 5px 0 25px 0;
}

.blog-one__item-one p {
    padding-right: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: justify;

}

/*  */
.main__blog-two {
    width: 100%;
    display: flex;
}


.blog-two__card-one {
    width: 60%;
    padding-left: 148px;
    padding-right: 150px;
    margin-bottom: 75px;
}

.main__blog-two h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #003B5B;
}

.blog-two__card-one h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-two__card-two {
    width: 40%;
    text-align: center;
    padding-right: 20px;
}

.circle {
    height: 75px;
    width: 75px;
    background: #003B5B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle span {
    height: 65px;
    width: 65px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;

}

.card p {
    margin-top: 23px;
}

.card__item-one,
.card__item-two,
.card__item-three {
    flex: 1;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center p {
    text-align: center;
    padding: 25px 0 30px 0;
}

.btn__signin {
    text-align: center;
}

.btn__signin button {
    width: 119px;
    height: 38px;
    background: #003B5B;
    color: white;
    border-radius: 20px;

}

.btn__visit button {
    background: #DA2A1B;
    color: white;
    width: 91px;
    height: 38px;
    border-radius: 20px;
    border: 0;
}

.blog-two__card-two img {
    margin-top: 10px;
}


/* footer */
footer {
    background-color: #003B5B;
    color: #FFFFFF;
    ;
    height: 38px;
    width: 100%;
    font-size: 12px;
}

.footer__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__left {
    margin-left: 40px;
}

.footer__right {
    margin-right: 20px;
}

.footer__right ul {
    display: flex;
    list-style: none;
}

.footer__right ul li:nth-child(1) {
    margin-right: 20px;
}

.footer__right ul li a {
    color: #FFFFFF;
}


/* responsive */
/* Mobile: Width < 768px */
@media only screen and (max-width: 768px) {

    /* header */
    .header__container {
        height: 100%;
    }

    .header__logo {
        margin-left: 24px;
    }

    .header__sigin {
        margin-right: 26px;
    }

    .header__logo img:nth-child(1) {
        max-width: 69px;
        width: 100%;
    }

    .header__logo img:nth-child(3) {
        max-width: 63px;
        width: 100%;
    }

    /* main */
    .main__blog-one {
        flex-direction: column-reverse;
    }

    .rectangle {
        display: none;
    }

    .blog-one__item-one {
        width: 100%;
        padding: 20px 26px 0 20px;
    }

    .blog-one__item-one p {
        padding: 0;

    }

    .blog-one__item-two {
        width: 100%;
        text-align: right;
    }

    /*  */
    .main__blog-two {
        flex-direction: column;
    }

    .main__blog-two h2 {
        text-align: center;
    }

    .blog-two__card-one {
        width: 100%;
        padding: 0 24px 0 24px;
        margin-bottom: 0;
    }

    .blog-two__card-two {
        width: 100%;
        padding: 0 24px 84px 24px;
    }

    .card {
        flex-direction: column;
    }

    .card__item-one,
    .card__item-two,
    .card__item-three {
        padding: 17px 0 17px 0;
        flex-direction: row;
    }

    .card p {
        margin: 0 0 0 30px;
    }

    .main__ellipse-three {
        bottom: -180px;
    }

    hr {
        display: block;
    }

    /* footer */
    footer {
        height: 117px;
        font-size: 14px;
    }

    .footer__right,
    .footer__left {
        margin: 0;
    }

    .footer__left {
        max-width: 240px;
        width: 100%;
        padding: 22px 0 13px 0;
    }

    .footer__container {
        flex-direction: column;
        justify-content: unset;
    }

}

/* Tablet: Width >= 768px and Width < 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .blog-one__item-one {
        padding: 49px 0 0 16px;
    }

    .rectangle {
        display: none;
    }

    .blog-two__card-one {
        padding: 0 100px 0 16px;
    }

    .main__blog-two h2 {
        text-align: center;
    }
}